{% extends 'base.html.twig' %}

{% block title %}Fizzbuzz index{% endblock %}

{% block body %}
    <h1>Fizzbuzz desafio 1</h1>
    {{ 1|fizzBuzz }}
    <br>
    <br>

    <a href="{{ path('app_fizzbuzz_index') }}">Inicio</a>
{% endblock %}
