{% extends 'base.html.twig' %}

{% block title %}Edit Fizzbuzz{% endblock %}

{% block body %}
    <h1>Edit Fizzbuzz</h1>

    {{ include('fizzbuzz/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fizzbuzz_index') }}">back to list</a>

    {{ include('fizzbuzz/_delete_form.html.twig') }}
{% endblock %}
