{% extends 'base.html.twig' %}

{% block title %}Fizzbuzz index{% endblock %}

{% block body %}
    <h1>Fizzbuzz index</h1>

    <a href="{{ path('app_fizzbuzz_desafio1') }}">Desafio 1</a>
    <a href="{{ path('app_fizzbuzz_list') }}">Desafio 2</a>
{% endblock %}
